.button__close-popup {
  position: absolute;
  right: -47px;
  top: -47px;
  width: 40px;
  height: 40px;
  background: hsla(0, 0%, 0%, 0);
  border: none;
  cursor: pointer;
}

.button__close-popup:hover {
  opacity: 0.8;
  border-radius: 2px;
}

@media screen and ( max-width: 320px) {
  .button__close-popup {
    width: 26px;
    height: 26px;
    right: 0px;
    top: -39.62px;
}
}


