.place {
  max-width: 282px;
  width: 100%;
  position: relative;
  list-style: none;
  border: 1px solid white;
}

/* @media screen and ( max-width: 768px) {
  .place {
    width: 352px;
    height: 431px;
  }
}


@media screen and ( max-width: 320px) {
  .place {
    width: 282px;
    height: 361px;
    }
  }
 */