.page {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  flex-direction: column;
  align-items: center;

  }


  @media screen and ( max-width: 1024px) {
    .page {
      min-width: 910px;
      }
  }

  @media screen and ( max-width: 768px) {
    .page {
      min-width: 770px;
      }
  }


  @media screen and ( max-width: 320px) {
    .page {
      min-width: 320px;
      }
  }
