.popup__card {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  .popup__card_opened {
    display: block;
  }

  .popup__container-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup__image_opened-image {
  display: block;

  }

  .popup__image-screen_opened {
    display: block;
  }

  .popup__image-screen {
  width: 75vw;
  height: 75vh;
  top: 90px;
  display: block;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

 .popup__title-screen {
  width: 291px;
  height: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  color: #FFFFFF;
  bottom: -20px;

}
