.place__image {
  width: 282px;
  height: 282px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

@media screen and ( max-width: 768px) {
  .place__image {
    width: 352px;
    height: 352px;
  }
}


@media screen and ( max-width: 320px) {
  .place__image {
    width: 282px;
    height: 282px;
    }
  }
