.info__discription {
  max-width: 415px;
  max-height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #FFFFFF;
}

@media screen and ( max-width: 768px) {
  .info__discription {
    font-size: 1rem;
    }
}

@media screen and ( max-width: 320px) {
  .info__discription {
    width: 282px;
    height: 14px;
    font-size: 0.875rem;
    line-height: 1.062rem;
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
    }
}
