.profile {
width: 100%;
max-width: 880px;
height: 100%;
display: flex;
align-items: center;
margin-top: 36.25px;
margin: 50px auto 0;
}

@media screen and ( max-width: 768px) {
  .profile {
      width: 733px;
    }
}

@media screen and ( max-width: 320px) {
  .profile {
      width: 282px;
      height: 286px;
      flex-direction: column;
      margin-top: 38.25px;
    }
}
