.place__data {
  width: 282px;
  height: 79px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

@media screen and ( max-width: 768px) {
  .place__data {
    width: 314px;
    }
}

@media screen and ( max-width: 320px) {
  .place__data {
    width: 246px;
    }
}
