.gallery {
  border: 1px solid red;
  -moz-column-gap: 17px;
  column-gap: 17px;
  margin: 50px auto 0px;
  row-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  max-width: 880px;
  width: 100%;
  }

  @media screen and ( max-width: 768px) {
    .gallery {
      max-width: 733px;
      justify-content: center;
      margin: 50px auto 0 auto;
      column-gap: 27px;
      row-gap: 32px;
    }
  }

  @media screen and ( max-width: 320px) {
    .gallery {
      max-width: 282px;
      row-gap: 20px;
      }
  }
