* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.content {
  border: 1px solid red;
  max-width: 880px;
  width: 100%;
  margin: auto;
}

@media screen and ( max-width: 768px) {
  body {
    min-width: 770px;
    }
}


@media screen and ( max-width: 320px) {
  body {
    min-width: 320px;
    }
}
