.footer {
  width: 100%;
  max-width: 880px;
  margin: 68px auto 60px auto;
  }

  @media screen and ( max-width: 768px) {
    .footer {
      max-width: 733px;
      max-height: 14px;
      margin-top: 55px;
      margin-bottom: 46px;
      }
  }

  @media screen and ( max-width: 320px) {
    .footer {
      max-width: 282px;
      max-height: 14px;
      margin-top: 50px;
      margin-bottom: 36px;
      }
  }
