.popup__title-screen {
  width: 291px;
  height: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  color: #FFFFFF;
  bottom: -10px;
}

@media screen and ( max-width: 320px) {
  .popup__title-screen {
    width: 240px;
}
}
