.profile__info {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 18px;
  grid-row-gap: 16px;
 margin-left: 30px;
}

@media screen and ( max-width: 320px) {
  .profile__info {
      display: flex;
      width: 282px;
      align-items: baseline;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 10px;
      row-gap: 14px;
    }
}
