.profile__button-edition {
width: 24px;
height: 24px;
background: url(../../../images/vectoredition.png);
  background-repeat: no-repeat;
  background-position: center;
border: 1px solid #FFFFFF;
background-color: #000000;
position: relative;
cursor: pointer;
}

.profile__button-edition:hover {
  opacity: 0.8;
  border-radius: 2px;
}

@media screen and ( max-width: 320px) {
  .profile__button-edition{
    width: 18px;
    height: 18px;
    }
}
