.place {
  width: 282px;
  height: 361px;
  position: relative;
  list-style: none;
}

@media screen and ( max-width: 768px) {
  .place {
    width: 352px;
    height: 431px;
  }
}


@media screen and ( max-width: 320px) {
  .place {
    width: 282px;
    height: 361px;
    }
  }
